BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
NamespaceIndentation: None
SortIncludes: false
ColumnLimit: 120
